asyncio-redis==0.16.0
backports.tarfile==1.2.0
beautifulsoup4==4.13.4
fastapi==0.104.1
fitz==0.0.1.dev2
grpcio-status==1.73.1
hiredis==3.2.1
httptools==0.6.4
importlib-metadata==8.0.0
jaraco.collections==5.1.0
lang==0.1
langchain-community==0.3.27
langchain-google-vertexai==2.0.27
langgraph==0.5.3
motor==3.7.1
pdfminer-six==20250506
pdfplumber==0.11.7
pip-chill==1.0.3
platformdirs==4.2.2
pypdf2==3.0.1
pytest-asyncio==1.1.0
python-multipart==0.0.6
redis==6.2.0
sentence-transformers==5.0.0
streamlit==1.47.0
tomli==2.0.1
uvicorn==0.24.0
uvloop==0.21.0
watchfiles==1.1.0
